*{ /*Configuraçãop da pagina inteira*/
    margin: 10; /*magem de fora para dentro*/
    padding: 0; /*Margem de dentro para fora*/
    box-sizing: border-box;/*Calcula as distancias automaticas*/
    font-family: 'Signika', sans-serif; /*importando fonte linkada*/
}
body{
    background-image: linear-gradient(to top, #142430, #0f100f);/*Fazendo um degradê*/
    background-attachment: fixed;/*Mesmo rolando a tela ele 
    fica fixo*/

    
}

.principal {
    height: 100vh;/*Ocupando a tela inteira*/
    width: 100%;/*Ocupando a tela inteira*/
    background-image:url(img/Programação.png);
    background-size: cover;/*Estica a imagem*/
    background-position: center;/*Centraliza*/
}

nav {
    text-align: end;
    align-items: center;/*Na horizontal está bem espaçado*/
    justify-content: space-between;/*Na verdical espaçados um do outro*/
    padding-left: 30px;/*Distanciando da borda esquerda em pixels*/
    padding-right: 30px;
    padding-top: 10px; /*Distanciando da borda de cima*/
}

.portifolio {
    margin-right: 0px;
    margin-left: 23px;
    margin-top: 16px;
    margin-bottom: 0px;
    height: 15px;
    width: 160px;
    color: #D4B483;
    font-size: 35px;
    
}
a {
    text-decoration: none;
    display: flex;
    color: #D4B483;
}

li {
    display: flex;
    color: #D4B483;
    list-style: none; /*Tirando a marcação de lista*/
    display: inline-block; /*Deixando um do lado do outro*/
    font-size: 17px;
    font-weight: 700; /*Grosura da fonte "Só serve se a fonte que você pegou tem essa grossura"*/
    margin-right: 10px; /*Aplicando margem para direita "Entre eles"*/
}

li a:hover {
    background-color: #8FF7A7;
    color: #000000;
    border: 3px solid rgb(107, 34, 34);;
    border-radius: 7px;
    transition: 0.6s;
    cursor: pointer;
}

.Apresenta {
    position: absolute;
    top: 165px;
    display: table-cell;
    background-image: linear-gradient(to top, #111a22, #1a355e);
    padding: 10px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 40px;
    margin: 65px 10px 30px 30px;
    max-width: 790px;
    min-width: 300px;
}
.txt1 {
    left: 135px;
    position: relative;
    bottom: 104px;
    color: #D4B483;
    margin: 0%;
    padding: 0%; 
}

p {
    color: #D4B483;
    font-weight: 700;
    font-size: 17px;
}

p#Skils {
    text-align: center;
    margin: 0px;
}

.txt1 span {
    color: #8FF7A7;
    border: 2px solid rgb(107, 34, 34);
    border-radius: 100%;
}

.txt2 {
    min-width: 320px;
    text-align: center;
    position: relative;
    bottom: 60px;
    color: #D4B483;
    margin: 1px;
    padding: 1px;
}

.txt3 {
    color: white;
    position: relative;
    font-weight: 200;
    bottom: 55px;
    margin: 1px;
    padding: 1px;
}

.Apresenta img {
    height: 130px;
    border-radius: 160px;
    border: 3px solid black;
    margin: 1px;
}
.Skils img {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 5px;
}

ul.Skils {
    margin: 1px 20px 0px 20px;
    align-items: center;
}


main img {
    height: 200px;
    border-radius: 160px;
    border: 3px solid black;
    margin: 5px;
}

main h2 {
    color: #D4B483;
}

main p {
    color: white;
    
}

.projetos div {
    height: 10px;
}
h2#Titulo {
    margin: 10px;
    
}
.Projetos p {
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
}
.Titulo-projeto {
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
}

.Projetos {
    height: auto;
    width: auto;
}
.Projetos img {
    border: 2px solid white;
    border-radius: 10px;
    height: 100px;
    align-items: top;

}

.Bloco-Projeto {
    box-shadow: -4px 1px 0px 0px rgb(255 255 255 / 78%);
    background-color: #02047462;
    display: inline-block;
    margin: 5px 5px;
    padding: 5px;
    height: 7cm;
    width: 7cm;
    border: 2px solid white;
    border-radius: 10px;
}

.Bloco-Projeto:hover {
    cursor: pointer;
    box-shadow: -4px 1px 0px 0px #61f283;
}

footer {
    margin-top: 300px;
}
.Bloco-Redes{
    box-shadow: -4px 1px 0px 0px rgb(255 255 255 / 78%);
    background-color: #38383f;
    display: inline-block; /*Deixando um do lado do outro*/
    align-items: center;/*Na horizontal está bem espaçado*/
    justify-content: space-between;/*Na verdical espaçados um do outro*/
}

.Bloco-Redes:hover {
    cursor: pointer;
    box-shadow: -4px 1px 0px 0px #61f283;
}

.Bloco-Redes {
    margin: 20px  10px 10px 10px;
    padding: 20px 20px;
    height: 3cm;
    width: 3cm;
    border: 2px solid white;
    border-radius: 150px;
}

.WP {
    margin: -1%;
    margin-bottom: 1px;
    position: fixed;
    right: 2%;
    bottom: 2%;
}