* {
    /*Configuraçãop da pagina inteira*/
    margin: 0;
    /*magem de fora para dentro*/
    padding: 0;
    /*Margem de dentro para fora*/
    box-sizing: border-box;
    /*Calcula as distancias automaticas*/
    font-family: 'Signika', sans-serif;
    /*importando fonte linkada*/
}

body {
    background-image: linear-gradient(to top, #142430, #0f100f);
    /*Fazendo um degradê*/
    /*Mesmo rolando a tela ele 
    fica fixo*/


}

.principal {
    height: 100vh;
    min-height: 600px;
    /*Ocupando a tela inteira*/
    width: 100%;
    /*Ocupando a tela inteira*/
    background-image: url(img/Programação.png);
    background-repeat: no-repeat;
    background-size: contain;
    /*Estica a imagem*/
    background-position: center;
    /*Centraliza*/
}

nav {
    box-sizing: border-box;
    text-align: end;

    /*Na verdical espaçados um do outro*/
    padding-left: 40px;
    /*Distanciando da borda esquerda em pixels*/
    padding-right: 30px;
    padding-top: 40px;
    /*Distanciando da borda de cima*/
}

.portifolio {
    margin-right: 0px;
    margin-left: 23px;
    margin-top: 16px;
    margin-bottom: 0px;
    height: 15px;
    width: 160px;
    color: #D4B483;
    font-size: 35px;

}

a {
    text-decoration: none;
    display: flex;
    color: #D4B483;
}

li {
    display: flex;
    color: #D4B483;
    list-style: none;
    /*Tirando a marcação de lista*/
    display: inline-block;
    /*Deixando um do lado do outro*/
    font-size: 17px;
    font-weight: 700;
    /*Grosura da fonte "Só serve se a fonte que você pegou tem essa grossura"*/
    margin-right: 10px;
    /*Aplicando margem para direita "Entre eles"*/
}

li a:hover {
    box-sizing: border-box;
    transform: translate(2px, 5px);
    box-shadow: -2px -2px rgb(255, 255, 255);
    background-color: #8FF7A7;
    color: #000000;
    border: 1px solid white;
    border-radius: 7px;
    transition: 0.8s;
    cursor: pointer;
}

.Apresenta {
    background-image: linear-gradient(to top, #111a22, #1a355e);
    padding: 10px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 40px;
    margin: 65px 10px 30px 10px;
    max-width: 790px;
    min-width: 335px;
    max-height: 550px;
}

.txt1 {
    max-width: 150px;
    left: 135px;
    position: relative;
    bottom: 104px;
    color: #D4B483;
    margin: 0%;
    padding: 0%;
}

p {
    margin: 2px;
    color: #D4B483;
    font-weight: 700;
    font-size: 17px;
}

p#Skils {
    text-align: center;
    position: relative;
    bottom: 30px;
    margin: 5px;
}

.txt1 span {
    color: #8FF7A7;
    border: 2px solid rgb(107, 34, 34);
    border-radius: 100%;
}

p.txt1 {
    min-width: 185px;
}

.txt2 {
    min-width: 320px;
    text-align: center;
    position: relative;
    bottom: 60px;
    color: #D4B483;
    margin: 1px;
    padding: 1px;
}

.txt3 {
    color: white;
    position: relative;
    font-weight: 200;
    bottom: 60px;
    margin: 1px;
    padding: 1px;
}

.Apresenta img {
    height: 130px;
    border-radius: 160px;
    border: 3px solid black;
    margin: 1px;
}
.Skils {
    margin: 10px;
    bottom: 30px;
    max-width: 500px;
    min-height: 10px;
}

.Skils img {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin: 5px;
}

ul.Skils {
    position: relative;
    text-align: center;
    max-width: 900px;
    min-width: 300px;
    max-height: 65px;
    min-height: 50px;
    padding: 5px;
    margin: 2px;

}


main img {
    height: 200px;
    border-radius: 160px;
    border: 3px solid black;
    margin: 5px;
}

main h2 {
    color: #D4B483;
}

main p {
    color: white;

}

.projetos div {
    height: 10px;
}

h2#Titulo {
    margin: 10px;

}

.Projetos p {
    margin: 5px;
    padding: 0;
    height: auto;
    width: auto;
}

.Titulo-projeto {
    color: #D4B483;
    margin: 5px;
    padding: 0;
    width: auto;
    height: auto;
}

.Projetos {
    height: auto;
    width: auto;
}

.Projetos img {
    background-color: #050784;
    border: 2px solid white;
    border-radius: 10px;
    height: 100px;
    align-items: top;

}

.Bloco-Projeto {
    box-shadow: -4px 1px 0px 0px rgb(255 255 255 / 78%);
    background-color: #02047462;
    display: inline-block;
    margin: 5px 5px;
    padding: 5px;
    height: 7cm;
    width: 7cm;
    border: 2px solid white;
    border-radius: 10px;
}

.Bloco-Projeto:hover {
    cursor: pointer;
    box-shadow: -4px 1px 0px 0px #61f283;
}

footer {
    margin-top: 300px;
}

.Bloco-Redes {
    box-shadow: -4px 1px 0px 0px rgb(255 255 255 / 78%);
    background-color: #38383f;
    display: inline-block;
    /*Deixando um do lado do outro*/
    align-items: center;
    /*Na horizontal está bem espaçado*/
    justify-content: space-between;
    /*Na verdical espaçados um do outro*/
}

.Bloco-Redes:hover {
    cursor: pointer;
    box-shadow: -4px 1px 0px 0px #61f283;
}

.Bloco-Redes {
    margin: 20px 10px 30px 10px;
    padding: 20px 20px;
    height: 3cm;
    width: 3cm;
    border: 2px solid white;
    border-radius: 150px;
}