*{ /*Configuraçãop da pagina inteira*/
    margin: 10; /*magem de fora para dentro*/
    padding: 0; /*Margem de dentro para fora*/
    box-sizing: border-box;/*Calcula as distancias automaticas*/
    font-family: 'Signika', sans-serif; /*importando fonte linkada*/
}
body{
    background-image:  linear-gradient(to top, #142430, #0f100f);/*Fazendo um degradê*/
    background-attachment: fixed;/*Mesmo rolando a tela ele fica fixo*/
    
}

.principal {
    height: 100vh;/*Ocupando a tela inteira*/
    width: 100%;/*Ocupando a tela inteira*/
    background-image:url(img/Programação.png);
    background-size: cover;/*Estica a imagem*/
    background-position: center;/*Centraliza*/
}

nav {
    text-align: end;
    align-items: center;/*Na horizontal está bem espaçado*/
    justify-content: space-between;/*Na verdical espaçados um do outro*/
    padding-left: 30px;/*Distanciando da borda esquerda em pixels*/
    padding-right: 30px;
    padding-top: 10px; /*Distanciando da borda de cima*/
}

.portifolio {
    margin-right: 0px;
    margin-left: 23px;
    margin-top: 16px;
    margin-bottom: 0px;
    height: 15px;
    width: 160px;
    color: #D4B483;
    font-size: 35px;
    
}
a {
    text-decoration: none;
    display: flex;
    color: #D4B483;
}

li {
    display: flex;
    color: #D4B483;
    list-style: none; /*Tirando a marcação de lista*/
    display: inline-block; /*Deixando um do lado do outro*/
    font-size: 17px;
    font-weight: 700; /*Grosura da fonte "Só serve se a fonte que você pegou tem essa grossura"*/
    margin-right: 10px; /*Aplicando margem para direita "Entre eles"*/
}

li a:hover {
    text-decoration: underline;
    color: #8FF7A7;
    transition: 0.5s;
    cursor: pointer;
}

.meu-nome {
    position: inherit;
    color: #D4B483;
    top: 0%;
    left: 35%;
}
.meu-nome h1 {
    margin-top: 10px;
    margin-bottom: 0px;
}

.meu-nome h3 {
    margin-top: 0px;
}

.meu-nome span {
    color: #8FF7A7;
    border: 2px solid rgb(107, 34, 34);
    border-radius: 100%;
}

.Sobre-mim {
    background-image:  linear-gradient(to top, #142430, #0f100f);
    background-attachment: fixed;
    border: 2px solid white;
    border-radius: 40px;
    position: absolute;
    top: 40%;
    left: 5%;
    display: flex;
    align-items: center;
    padding: 40px 20px;
    padding-top: 10px;

}

main img {
    height: 200px;
    border-radius: 160px;
    border: 3px solid black;
    margin: 5px;
}

main h2 {
    color: #D4B483;
}

main p {
    color: white;
    
}
.sobre {
    padding-left: 20px;
    padding-right: 20px;

}
.sobre h2{
    margin-bottom: 0px;
    margin-top: 0px;
}
.sobre p{
    margin-bottom: 0px;
    margin-top: 0px;
}

h2#titulo {
    display: inline-flex;
    position: relative;
}

.Projetos {
    height: 500px;
}
.Projetos img {
    border: none;
    height: 100px;
    align-items: top;
}
.Bloco-Projeto {
    display: inline-block;
    align-items: center;
    margin: 5px 5px;
    padding: 5px;
    height: 6cm;
    width: 6cm;
    border: 2px solid white;
    border-radius: 10px;
}
footer {
    margin-top: 300px;
}
.Bloco-Redes{
    box-shadow: -4px 1px 0px 0px rgb(255 255 255 / 78%);
    background-color: #38383f;
    display: inline-block; /*Deixando um do lado do outro*/
    align-items: center;/*Na horizontal está bem espaçado*/
    justify-content: space-between;/*Na verdical espaçados um do outro*/
}

.Bloco-Redes:hover {
    cursor: pointer;
    box-shadow: -4px 1px 0px 0px #61f283;
}

.Bloco-Redes {
    margin: 20px  10px 10px 10px;
    padding: 20px 20px;
    height: 3cm;
    width: 3cm;
    border: 2px solid white;
    border-radius: 150px;
}

.WP {
    height: 30px;
    width: 30px;
    position: absolute;
    position: fixed;
    left: 92%;
    top: 85%;
    

}